@font-face {
    font-family: "Nunito Sans";
    src: url(../Fonts/NunitoSans-Italic.ttf);
}

@font-face {
    font-family: "Yeseva One";
    src: url(../Fonts/YesevaOne-Regular.ttf);
}

input,textarea,button,select {
    user-select: none !important;
    outline: none !important;
    appearance: none !important;
    -moz-appearance: none !important;
    -o-appearance: none !important;
    -webkit-appearance: none !important;
}

input:focus,textarea:focus,button:focus,select:focus {
    user-select: none !important;
    outline: none !important;
    appearance: none !important;
    -moz-appearance: none !important;
    -o-appearance: none !important;
    -webkit-appearance: none !important;
}

input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}   

html body {
    width: 100%;
    margin: 0 auto;
    font-family: "Nunito Sans";
    box-sizing: border-box;
    border: 1px solid black;
    overflow-x: hidden;
}

a,h1,h2,h3,h4,h5,h6 {
    font-family: "Yeseva One";
    text-decoration: none;
    margin: 0;
}

section{
    position: relative;
    width: 100%;
}

.max-width {
    max-width: 1256px;
    padding-left: 18px;
    padding-right: 18px;
    margin: 0 auto;
}

.header {
    background-color: #131313;
}

.header-content {
    display: grid;
    grid-template-columns: 155px 1fr 102px 168px;
    column-gap: 40px;
    align-content: center;
    height: 83px;
    align-items: center;
}

.header-nav {
    display: grid;
    grid-template-columns: repeat(6, auto);
    margin: 0 auto;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.logo {
    width: fit-content;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.header-nav li{
    display: inline-block;
}

.header-nav li a{
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: white;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.header-nav li:hover a{
    cursor: pointer;
    color: #E3B873;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.phone {
    width: fit-content;
    text-align: right;
}

.phone a{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.phone a:hover{
    color: #e3b873;
    border-bottom: 1px solid #e3b873;
    transition: all 0.3s ease;  
    -webkit-transition: all 0.3s ease;
}

.button {
    max-width: 168px;
    padding: 13px 10px;

    border: 0;
    border-radius: 2px;
    color: white;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    cursor: pointer;
    outline: none;
}



.hero {
    background-image:  url('../Images/jpg/fon1.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
} 

.text1 {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF
}

.title-buttons{
    max-width: 440px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    align-content: center;
}

.type-1 {
    width: calc(100%-80px);
    padding: 20px 40px;
    color: white;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.type-2 {
    width: calc(100%-40px);
    padding: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    background: none;
    color: white;
    cursor: pointer;
}



.container123 {
    background-color: #131313;
    position: relative;
    padding-bottom: 400px;
}

.hero-container2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 135px;
    max-width: 1171px;
    padding-top: 107px;
}

.vol1 {
    margin-top: 69px;
}

.title2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.text2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.bloki {
    display: flex;

}

.vol2 {
    flex-direction: column;
    align-items: flex-start;
}

.vol2-1 {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 35px;
}

.explanation {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.explanation2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}


.uprav {
    display:grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(1, 10px);
    width: 206px;
    height: 14px;
    justify-content: center;
    margin-top: 86px;
}

.krug {
    background-color: rgba(255, 255, 255, 0.3);
    height: 9px;
    width: 9px;
    border-radius: 50%; 
}

.krug1 {
    background-color: #FFFFFF;
}

.lef {
    margin-left: -35px;
}

.stroka {
    display: flex;
    justify-content: space-between;
}

.stroka2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    margin-bottom: 34px;
}

.stroka2-2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;  
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.picture {
    width: 100%;
    
}

.picture img{
    width: 100%;
}

.hero2-5{
    height: 190px;
}

.hero2-5 .videoplayer-container{
    position: absolute;
    margin: 0 auto;
    top: -300px;
    left: 0;
    right: 0;
}

.hero2-5 .caption {
    text-align: center;
    margin-bottom: 30px;
}


.videoplayer {
    position: relative;
    width: 57%;
    max-width: 1236px;
    margin: 0 auto;
    z-index: 1;
}

.videoniht {
    width: 100%;
    z-index: 1;
}

.videoniht img{
    width: 100%;
}

.button-play {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #00000090;
}

.button-play button{
    position: relative;
    width: 85px;
    height: 85px;

    border: none;
    background: none;
    cursor: pointer;
}

.button-play button img{
    width: 100%;
    height: 100%;
}

.bardur {
    width: 100%;
    margin-top: 62px;
    margin-bottom: 34px;
}

.bardur div{
    width: 55px;
    height: 2px;
    margin: 0 auto;
    background: #E3B873;
}


.text4 {
    margin-bottom: 91px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.text4 p{
    margin: 0 auto;
}


.hero3-form{
    width: 100%;
    margin-bottom: 147px;
}

.hero3-form form{
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
}


.hero3-form .inputs{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
}

.hero3-form .inputs label{
    margin-bottom: 7px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.hero3-form .name {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-bottom: 7px;
    border: none;
    border-bottom: 1px solid #ccc;

    background: none;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #363636;
}

.button1 {
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border: none;
    padding: 13px 33px;
    color: white;
    cursor: pointer;
    font-size: 13px;
}

.first-checkbox {
    display: flex;
    justify-content: center;
    padding-top: 39px;
}

.label {
    cursor: pointer;
  }
  .checkbox{
    display: none;
  }
  .fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }
  .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }
  .checkbox:checked + .fake::before{
    opacity: 1;
}


.logo3 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 31px;
    max-width: 257px;
}

.logo3 img{
    width: 100%;
}

.blok-stil {
    width: 100%;
    max-width: 1236px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.card{
    position: relative;
    width: 100%;
}

.card {
    position: relative;
    width: 100%;
    height: 620px;
}

.card .pictures1{
    width: 100%;
}

.card .pictures1 img{
    width: 100%;
}

.text3 {
    position: absolute;
    top: 294px;
    left: 31px;
    right: 31px;
    padding: 25px 25px 48px 34px;
    
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.zaglav {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
     color: #363636;
}

.text3-1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px; 
    color: #959595;
}

.button-from {
    position: absolute;
    left: 0;
    margin-top: 22px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    padding: 13px 33px;
    border: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;
}


.block2 {
    display: flex;
    flex-direction: column;
}

.input1 {
    width: 150%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 12px 0;
    border: none;
    color: white;
    border-bottom: 1px solid #ccc;
    background: transparent;
}

.input1::placeholder {
    color: white;
}

.img {
    Width: 379px;
    Height: 474px;
    justify-content:center;
    margin-top: -530px;
    z-index: 1;
    position: relative;
}

.hero4{
    margin-top: 200px;
    margin-bottom: 250px;
    background: url("../Images/jpg/image 6.1fon-dom.jpg") no-repeat;
    background-position: center left;
    background-size: 55%;
    z-index: 2;
}

.container4 {
    text-align: right;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}

.inline{
    display: inline-block;
}

.item{
    display: grid;
    grid-template-columns: 70px 1fr;
    padding-left: 20%;
    column-gap: 10px;
    position: relative;
    margin-bottom: 91px;

    text-align: left;
}
.item:last-child{
    margin-bottom: 0;
}

.logo-back{
    position: relative;
    width: 50px;
    height: 50px;
    border: 8px solid #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 40px;
}

.logo-number{
    user-select: none;
    position: absolute;
    top: calc(100% / 2 - 12px);
    left: 0;
    right: 0;

    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;

    color: #FFFFFF;
}

.item-text{
    align-self: center;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #363636;
}


.hero4-form{
    padding: 28px 48px;
    background: #131313;
    text-align: left;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.hero4-form .caption{
    margin-bottom: 38px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
}

.hero4-form .input-item{
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 50px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ffffff26;
    color: rgba(255, 255, 255, 0.5);
}

.hero4-form .input-item .input1{
    width: auto;
    border: 0;
    padding: 0;
    outline: none;
}

.hero4-form.input-item:last-child {
    margin-bottom: 16px !important;
}

.hero4-form.input-item label{
    margin-bottom: 7px;
}

.hero4-form.input-item .input1{
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
}

.checkbox-container {
    display: block;
    padding: 0;
    margin: 0;
    padding-bottom: 39px;
}
.checkbox-container .label {
    cursor: pointer;
}
.checkbox-container .checkbox {
    display: none;
}
.checkbox-container .fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.checkbox-container .text {
    padding-left: 8px;
    font-size: 14px;
    color: #FFFFFF;
}
.checkbox-container .fake::before {
    content: "\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox-container .checkbox:checked+.fake::before {
    opacity: 1;
}

.notice{
    text-align: left;
    margin-top: 38px;
    padding-left: 31px;
    display: grid;
    grid-template-columns: 72px 1fr;
    column-gap: 25px;
}

.notice p{
    margin: 0;
    align-self: center;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}









.on1 {
    background-color: black;
    Width:506px;
    Height:509px;
    display: grid;
    justify-content: center;
    margin-top: 300px;
}

.zagol {
    display: flex;
    justify-content: center;
    color: white;
}

.stolb {
    display: grid;
    justify-content: flex-start;
    Width:408px;
    Height:244px;
}

.text0 {
    color: #FFFFFF;
}

.name0 {
    color: rgba(255, 255, 255, 0.5);
}

.button2-2 {
    text-align: right;
}

.button2 {
    outline: none;
    border: none;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    color: #FFFFFF;
    Width:213px;
    Height:51px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}


.on2 {
    padding-top: 39px;
    padding-bottom: 200px;
}

.hero5 {
    z-index: 0;
    background-image: url(../Images/jpg/image\ 5.1fon3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero5::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.container5{
    z-index: 1;
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1.4fr 2fr;

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
}

.hero5 .caption{
    margin-bottom: 47px;
    
    text-align: left;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

.hero5 .list{
    margin: 0;
    padding: 0;
}

.hero5 .list li{
    display: block;
    width: fit-content;
    margin: 0;
    margin-bottom: 17px;
    border-bottom: 1px solid #e3b87300;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.hero5 .list li:last-child{
    margin: 0;
}

.hero5 .list li:hover{
    border-bottom: 1px solid #e3b873;
    color: #e3b873;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.hero5 .gallery{
    position: relative;
}

.hero5 .gallery-wrapper{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.hero5 .gallery-wrapper .block{
    width: 100%;
}
.hero5 .gallery-wrapper .block img{
    width: 100%;
    display: block;
}

.hero5 .gallery-wrapper .block:first-child{
    margin-top: -100px;
}
.hero5 .gallery-wrapper .block:last-child {
    margin-top: -170px;
}

.hero5 .gallery-wrapper .block:first-child img:first-child{
    margin-bottom: 40px;
}
.hero5 .gallery-wrapper .block:last-child img:first-child{
    margin-bottom: 40px;
}


.hero6 {
    margin-bottom: 132px;
}

.perehot {
    display: grid;
    justify-content: center;
    margin-top: 110px;
}

.our {
    align-self: center;
    justify-self: center;
}

.im2_1 {
    align-self: center;
    justify-self: center;
}

.text6 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center; 
    color: #363636;
}

.inf {
    display: flex;
    gap: 23px;
}

.hero6 .grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 86px;
    padding-top: 36px ;
}

.hero6 .grid .card {
    position: relative;
    width: auto;
    height: fit-content;
    padding: 24px 20px;
    padding-bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.hero6 .grid .card .buttons {
    position: relative;
    left: -20px;
    bottom: -25px;
}

.name-ch {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.text7 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.button3 {
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border:none;
    position: relative;
}

.st1 {
    border-radius: 1px;
    max-width:135px;
    Height:54px;
}

.st2 {
    border-radius: 1px;
    max-width:159px;
    Height:54px;
}

.fon-dom {
    position: initial;
    margin-top: -350px;
}

.fon-dom img {
    width: 100%;
    margin-bottom: -137px;
}






.container7 {
    background-image:url(../Images/svg/image\ 7.2fon5.svg) ; 
    padding-top: 1px;
    position: relative;
}

.container7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, rgb(10, 10, 10) 3.47%, rgba(16, 16, 16, 0.72) 100%), url(' ');
}

.container7 form{
    width: 60%;
    max-width: 1236px;
    position: relative;
    margin: 0 auto;
    margin-top: -200px;
    padding: 34px 0;
    background: #181818;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.container7 form .caption{
    text-align: center;
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.container7 form .caption p{
    margin: 0;
}

.container7 form .inputs{
    max-width: 60%;
    margin: 0 auto;
}

.container7 form .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
}

.container7 form .input-item {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 40px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ffffff26;
    color: rgba(255, 255, 255, 0.5);
}

.container7 form .input-item label {
    margin-bottom: 7px;
}

.container7 form .input-item .input1 {
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
}

.container7 form .checkbox-container{
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 40px;
}

.container7 form .label-wrapper{
    width: fit-content;
    margin: 0 auto;
}

.container7 form .button2-2{
    text-align: center;
}

.container7 form .button2{
    width: auto;
    padding: 20px 50px;
    margin-top: 0;
    text-transform: uppercase;
}

.text8 {
    display: flex;
    justify-content: center;
    padding-top: 52px;
}

.zagl3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    z-index: 1;
}

.button4 {
    display: flex;
    justify-content: center;
    padding-top: 26px;
    position: relative;
}

.icon1 {
    border: none;
    background: none;
    cursor: pointer;
}

.map {
    width: 60%;
    max-width: 1236px;
    position: relative;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 66px;
}

.map img{
    width: 100%;
}

.fon {
    padding-top: 200px;
    position: relative;
}

.footer {
    background-color: #181818;
}





/* MOBILE  */

@media screen and (max-width: 1000px) {
    .max-width{
        max-width: calc(100% - 36px);
    }

    .header-content{
        display: grid;
        grid-template-columns: 155px 1fr 102px;
        column-gap: 10px;
        height: 60px;
    }

    .header-content nav ul{
        display: none;
    }

    .header-content .button{
        display: none;
    }

    .hero2-5 {
        height: 40px;
    }

    .hero3-3{
        margin-bottom: 400px;
    }

    .hero4, .hero6{
        display: none;
    }
    

    .container7::before {
        background-image: none;
        background: #181818;
    }

    .container7 form{
        width: auto;
        margin-top: 0;
        padding: 34px 0;
    }

    .map {
        width: auto;
        padding-top: 44px;
        padding-bottom: 66px;
    }
        
    .footer{
        display: none;
    }
}


@media screen and (max-width: 680px) {

    .hero {
        height: 680px;
        padding-top: 100px;
    }

    .title {
        font-size: 23px;
    }
    
    .text1 {
        font-size: 14px;
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .title-buttons {
        max-width: 100%;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 26px;
    }

    .hero-container2{
        width: 100%;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 36px;
        padding-top: 36px;
    }

    .vol1 {
        margin-top: 0;
    }

    .hero2 .title2{
        text-align: center;
        margin-bottom: 24px;
    }

    .hero2 .text2{
        text-align: center;
        margin: 0;
        margin-bottom: 40px;
    }

    .hero2 .bloki {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero2 .strelka, .hero2 .stroka {
        display: none;
    }

    .hero2 .block2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .picture {
        padding-bottom: 0;
    }

    .hero2-5 {
        height: 0;
    }

    .videoplayer{
        width: auto;
    }

    .bardur {
        width: 100%;
        margin-top: 0;
        margin-bottom: 34px;
    }

    .hero3-3{
        margin-bottom: 240px;
    }

    .container3 {
        padding-top: 120px;
        background-color: rgb(19, 19, 19);
    }

    .text4 {
        margin-bottom: 60px;
        font-size: 12px;
        color: #FFFFFF;
    }

    .hero3-3{
        padding-top: 50;
    }

    .hero3-form {
        width: 100%;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }
    
    .hero3-form .inputs {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 50px;
    }

    .hero3-form .name {
        color: white;
    }
    .hero3-form .name::placeholder {
        color: white;
    }

    .first-checkbox .text{
        color: white;
    }

    .blok-stil {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 140px;
    }

    .text3 {
        top: 350px;
        left: -1px;
        right: 80px;
        padding: 25px 25px 48px 34px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.03) 10px 10px 20px;
    }

    .button-from {
        font-size: 15px;
    }

    .hero5 {
        background-image: none;
        background: #181818;
    }
    .hero5::before {
        background-color: rgba(0, 0, 0, 0);
    }

    .container5 {
        position: relative;
        top: -300px;
        margin-bottom: -360px;
        padding-top: 24px;
        padding-bottom: 24px;
        grid-template-columns: 1fr;
    }

    .hero5 .gallery-wrapper .block:first-child img:last-child{
        display: none;
    }

    .hero5 .gallery-wrapper .block:last-child {
        display: none;
    }

    .container5 .list{
        display: none;
    }

    .hero5 .caption {
        margin-bottom: 24px;
        text-align: center;
        font-size: 22px;
    }

    .hero5 .gallery-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 42px;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .hero5 .gallery-wrapper .block {
        margin-top: 0 !important;
        margin-bottom: 0;
    }

    .container7 form .inputs {
        max-width: none;
    }
}


@media screen and (max-width: 440px) {

    .container3 {
        padding-top: 70px;
    }

    .blok-stil {
        row-gap: 20px;
    }

    .text3 {
        top: 190px;
        left: -1px;
        right: 60px;
    }

    .container7 form .grid {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .container7 form .inputs {
        max-width: none;
    }

    
}